body {
  background-color: var(--bg-color-app);
}

main {
  margin-block-start: -5rem;
  z-index: 1;
  padding-block-end: clamp(4.75rem, -0.25rem + 16.667vw, 7.75rem);
}

.section {
  display: grid;
  row-gap: clamp(1rem, 0.118rem + 2.941vw, 2rem); /* default stack */
}

.project-info {
  text-align: center;
  grid-template-columns: 1fr auto;
  column-gap: 0.5rem;
  anchor-name: --project-card;
  container-type: inline-size;
  container-name: project-info;

  h1,
  p {
    grid-column: 1 / -1;
  }

  .button:last-of-type {
    justify-self: end;
  }

  h1 {
    margin-block-start: 1rem;
  }

  @container project-info (inline-size < 25rem) {
    button {
      width: 100%;
    }

    .checkbox-button {
      padding-inline-end: initial;

      span {
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip-path: inset(50%);
        position: absolute;
        white-space: nowrap;
      }
    }
  }
}

.card {
  padding-inline: clamp(1.5rem, 0.75rem + 2.5vw, 3rem);
  padding-block: clamp(2.25rem, 1.588rem + 2.206vw, 3rem);
  border: 1px solid var(--border-color-default);
  border-radius: 0.5rem;
  background-color: var(--bg-color-default);

  .card {
    padding: clamp(1.5rem, 1.25rem + 0.833vw, 2rem);
  }
}

/* stack/flow variations */

.card + .card,
.card-item + .card-item {
  margin-block-start: 1.5rem;
}

.card > .section + .section {
  margin-block-start: 2.5rem;
}

.rewards-list {
  container-type: inline-size;
  container-name: reward;
}

.modal {
  position: fixed;
  inset: 0;
  margin: auto;
  color: inherit;
  max-inline-size: var(--content-width);
  inline-size: calc(100% - 2 * var(--padding-inline));
}

.modal-close {
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-end: 1.5rem;
}

button,
.button {
  --button-text: var(--colors-white);
  --button-bg: var(--color-primary);
  --button-hover: var(--color-primary-active);
  --button-focus: var(--button-text);

  font-size: var(--fs-interactive);
  font-weight: 700;
  background-color: var(--button-bg);
  color: var(--button-text);
  padding-block: 1.125rem;
  padding-inline: 2rem;
  border-radius: 2rem;

  &:hover {
    background-color: var(--button-hover);
  }

  &:active {
    transform: scale(0.98);
  }

  &:focus-visible {
    outline: 2px solid var(--button-focus);
    outline-offset: -5px;
  }

  &[data-variant="secondary"] {
    --button-text: var(--colors-gray-500);
    --button-bg: var(--colors-gray-200);
    --button-hover: var(--colors-gray-200);
  }

  &[disabled] {
    --button-bg: var(--colors-gray-400);
  }

  &[data-variant="transparent"] {
    --button-text: var(--colors-black);
    --button-bg: transparent;
    --button-hover: transparent;

    padding: 0.25rem;
    border-radius: 2px;

    &:focus-visible {
      outline-offset: initial;
    }
  }
}

.checkbox-button {
  position: relative;
  padding-block: initial;
  padding-inline-start: initial;
  justify-content: space-between;
  gap: 1rem;

  &:has(input[type="checkbox"]:focus-visible) {
    outline: 2px solid var(--button-focus);

    &:has(input[type="checkbox"]:checked) {
      --button-focus: var(--colors-black);
    }
  }

  &:has(input[type="checkbox"]:checked) {
    --button-text: var(--color-primary-active);
    --button-bg: var(--colors-green-50);
    --button-hover: var(--button-bg);

    .bookmark-icon circle {
      fill: var(--button-text);
    }
    .bookmark-icon path {
      fill: var(--button-bg);
    }
  }
}

.checkbox-button input[type="checkbox"] {
  position: absolute;
  width: 1em;
  height: 1em;
  opacity: 0;
}
